// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 10px;
  background-color: rgba(245,245,245,1);
}

a {
  text-decoration: none;
  color: rgb(50,50,50);
}
